.home-main {
    position: relative;
    height: 100%;
    width: 100%;
    display:flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right 0% top 0%;
    background-color: #FFF59D;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
}
.wrapper {
    flex: 1;
    width: vw*80;
    height: vw*80;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}
.wrapper2{
    flex:1;
}
.background {
    height: 80%;
    width: 80%;
}
.home-title {
    position: absolute;
    top: 2vw;
    left:  5vw;
    width: 40%;
    height: auto;
    font-size: 6vw;
}

.home-explanation-text {
    width: 40vw;
    height: auto;
    position: absolute;
    top: 17vw;
    left: 5vw;
    font-size: 1.5vw;
}

.superblock-btn {
    position: absolute;
    height: auto;
    width: 3%;
    top: 20vw;
    right: 32vw;
    transition: 0.4s;
}

.superblock-btn:hover {
    transform: scale(1.5,1.5);
}

.triangle-btn {
    height: 100%;
    width: 100%;
}