.home-main {
    position: relative;
    height: 100%;
    width: 100%;
    display:flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right 0% top 0%;
    background-color: #FFF59D;
    flex-direction: row-reverse;
    align-items: flex-start;
}
.wrapper {
    flex: 1;
    width: 100%;
}
.background {
    height: 100%;
    width: 100%;
    flex: 1;
}
.home-title {
    position: absolute;
    top: 15%;
    left: 4.5%;
    width: 40%;
    height: auto;
    font-size: 4vw;
}

.home-explanation-text {
    width: 40%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1vw;
}

.superblock-btn {
    position: absolute;
    height: auto;
    width: 3%;
    top: 45%;
    right: 35%;
    transition: 0.4s;
}

.superblock-btn:hover {
    transform: scale(1.5,1.5);
}

.triangle-btn {
    height: 100%;
    width: 100%;
}