.outrowrapper{
    background-color: #FFF59D;
    height:100%;
}
.main-outro {
    display: flex;
    flex-direction: column;
    background-color: #FFF59D;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vw;

}

.outro-text {
    text-align: left;
    font-weight: 200;
    font-size: 3vw;
    padding-bottom: 1vw;
    margin-left: 1vw;
}

.outro-button {
    font-weight: 300;
    font-family: 'Source Code Pro', monospace;
    border: solid #310F0F 5px;
    background-color: #310F0F;
    color: #FFF59D;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 3vw;
    transition: 0.5s;
    text-decoration: none;
}

.outro-button:hover {
    transform: scale(1.2, 1.2);
}

.outro-button:visited {
    text-decoration: none;
}

.button-container {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
}