.main-street {
    height: 100%;
    width: 100%;
    background-color: #FFF59D;
    font-size: 3vw;
}

.hover {
    position: absolute;
    width: 5%;
    height: 5%;
}

.hover-garden {
    position: absolute;
    top: 70%;
    left: 85%;
}

.hover-sidewalk {
    position: absolute;
    top: 85%;
    left: 26%;
}

.hover-bee {
    position: absolute;
    top: 38%;
    left: 14%;
}

.hover-market {
    position: absolute;
    top: 50%;
    left: 90%;
}

.hover-shade {
    position: absolute;
    top: 35%;
    left: 35%;
}

.header-text {
    position: absolute;
    left: 60%;
    top: 8vw;
    width: 40%;
    font-weight: 200;
    font-size: 3vw;
}

.info-text {
    position: absolute;
    left: 60%;
    top: 18vw;
    width: 35vw;
    font-size: 1.5vw;
}

.button-container {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    display: flex;
}