.main-superblock {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('./../assets/superblock.svg');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-color: #FFF59D;
    font-size: 2vw;
}

.header-text {
    position: absolute;
    left: 60%;
    top: 10%;
    width: 40%;
    height: auto;
    font-size: 3vw;
}

.info-text {
    position: absolute;
    left: 60%;
    top: 40%;
    width: 30%;
    height: auto;
    transition: 0.4s;
    font-size: 1vw;
}

.hover-inner-road {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 40%;
    left: 30%;
}

.hover-outer-road {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 81%;
    left: 15%;
}

.hover-bus {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 30%;
    left: 41%;
}

.hover-housing {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 25%;
    left: 15%;
}

.button-container {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
}